@charset "UTF-8";
/* CSS Document */

/* Calculator Box */
.box {
	background-image: url("images/Creative-Cool-Background.jpg");
	height: 400px;
	width: 600px;
	border-radius: 100px;
	position: relative;
	top: 70px;
	left: 40%;
}

/* Display */
.display {
	background-color: #0001;
	width: 395px;
	position: relative;
	left: 95px;
	top: 10px;
	height: 40px;
}
.display input {
	position: relative;
	left: 2px;
	top: 2px;
	height: 30px;
	width: 385px;
	color: black;
	background-color: #1BE14C;
	font-size: 21px;
	text-align: right;
}

/* Calculator Buttons */
.keys {
	position: relative;
	top: 15px;
}
.button {
	width: 40px;
	height: 40px;
	border: 0px;
	border-radius: 60px;
	margin-left: 10px;
	cursor: pointer;
	border-top: 2px solid transparent;
}
.button.function {
	color: white;
	background-color: #FFD100;
	border-bottom: black 2px solid;
	border-top: 2px #6f6f6f solid;
}
.button.operator {
	color: white;
	background-color: #4d5966;
	border-bottom: black 2px solid;
	border-top: 2px #6f6f6f solid;
}
.button.special {
	color: black;
	background-color: #4d5966;
	border-bottom: black 2px solid;
	border-top: 2px #6f6f6f solid;

}
.button.number {
	color: white;
	background-color: #41FF00;
	border-bottom: black 2px solid;
	border-top: 2px #34B400 solid;
}

/* Simulate Button Press */
.function:active {
	border-top: black 2px solid;
	border-bottom: 2px #6f6f6f solid;
}
.operator:active {
	border-top: black 2px solid;
	border-bottom: 2px #303030 solid;
}
.number:active {
	border-top: black 2px solid;
	border-bottom: 2px #6f6f6f solid;
}